

.slidermain {
  position: relative;
  height: 90vh;
}
.slidermain img {
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
  object-position: center;
}
.myslider {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  
  bottom: 40%;
  padding: 50px 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

.myslider h2{
  font-size: 4rem;
}
.myslider p{
  font-size: 2rem;
  color: white;
}